<mat-slider min="1" max="100" step="1" value="1" #matSlider></mat-slider>
{{matSlider.value}}

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<br/><br/><br/>
<table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">
   <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>
<br/><br/><br/>


<div>
  <button mat-button>Click Me</button>
  <button mat-raised-button>Raised</button>
  <button mat-flat-button>Flat</button>
  <button mat-stroked-button>Stroked</button>
</div>
<br /><br /><br />
<div>
  <button mat-icon>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini Fab</button>
</div>
<br /><br /><br />
<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>

<div class="mat-headline">Heading H1</div>
<div class="mat-title">Heading H2</div>
<div class="mat-subheading-2">Heading H3</div>
<div class="mat-subheading-1">Heading H4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is body text</div>

<div>
  <button mat-button color="primary">Click Me</button>
  <button mat-button color="accent">Click Me</button>
  <button mat-button color="warn">Click Me</button>
</div>

<div>
  <button mat-raised-button color="primary">Click Me</button>
  <button mat-raised-button color="accent">Click Me</button>
  <button mat-raised-button color="warn">Click Me</button>
</div>

<div>
  <mat-button-toggle #toggleButton checked disableRipple>Toggle</mat-button-toggle>
  {{toggleButton.checked}}
</div>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="java">Java</mat-button-toggle>
    <mat-button-toggle value="Spring">Spring</mat-button-toggle>
    <mat-button-toggle value="Springboot">Springboot</mat-button-toggle>
  </mat-button-toggle-group>
  <hr>
  {{toggleGroup.value}}
</div>